// most-section

.most-title{
    margin-top: 120px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 57px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #252B42;
}
.most-text{
    max-width: 511px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #737373;
    margin-left: auto;
    margin-right: auto;
    
}

.most-left-img{
    background-image: url('../img/media\ bg-cover.jpg');
    background-size: cover;
    width: 520px;
    height: 380px;
    display: flex;
    align-items: center;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    
    &:hover .most-left-play-icon{
        
        transform: translateX(230px);
    }
      
}
.most-left-play-icon{
    transition: all .4s ease;
    transform: translateX(-100%);
}

.most-right-box{
    padding:0px 100px;
}

.most-right-title{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: #252B42;
}
.most-right-text{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #737373;
}
.most-right-footer{
    display: flex;
    margin-top: 20px;

}
.most-person-icon{
    width: 29px;
    height: 29px;
    display: block;
    margin-right: 20px;
    
}
.most-person-title{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #252B42;
}
.most-person-text{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #737373;
}
@media(max-width:550px){
    .most-right-box{
        padding:0px 70px;
    }
    .most-left-img{
        width: 450px;
        height: 300px;
      
        &:hover .most-left-play-icon{
        
            transform: translateX(190px);
        }
    }
}
@media(max-width:475px){
    .most-right-box{
        padding:0px 40px;
    }
    .most-left-img{
        width: 320px;
      height: 250px;
        &:hover .most-left-play-icon{
        
            transform: translateX(125px);
        }
    }
}